<h1>Listing institutes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @institutes.each do |institute| %>
  <tr>
    <td><%= institute.name %></td>
    <td><%= link_to 'Show', institute %></td>
    <td><%= link_to 'Edit', edit_institute_path(institute) %></td>
    <td><%= link_to 'Destroy', institute, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Institute', new_institute_path %>
