<div width="100%" style="overflow:auto;height:650" id="divCoHome">
	<table width="100%" cellspacing="10" cellpadding="0" border="0">
								  <tbody>
									<tr>

				<!--   start     -->



								    <td width="100%" valign="top" height="100%"> 
								      
	
	
	
	
	
				











<table width="100%" cellspacing="10" cellpadding="0" border="0">
							  <tbody>
								<tr>

			<!--   start     -->



							    <td width="100%" valign="top" height="100%"> 
							      <table width="100%" cellspacing="0" cellpadding="0" border="0">
							        <tbody>





			        <tr>
			          <td height="8"></td>
			        </tr>



			        <tr>
			          <td><table width="100%" cellspacing="0" cellpadding="0" border="0" class="homebody1">
			              <tbody><tr> 
			                <td valign="top">
												<table width="100%" cellspacing="0" cellpadding="0" border="0" class="homebody2">
												                    <tbody><tr> 
												                      <td><table width="100%" cellspacing="0" cellpadding="0" border="0">
												                          <tbody><tr> 
												                            <td><table cellspacing="0" cellpadding="0" border="0">
												                                 <tbody><tr> 
												                                  <td valign="bottom" height="10">

												                                    </td>
												                                </tr>
																				<tr> 
												                                  <td valign="bottom" height="15" class="dashboardtitlered">
课件TOP100
												                                  </td>
												                                </tr>
												                              </tbody></table></td>

																			  <td>&nbsp;</td>

																			 <td width="10">&nbsp;</td>

												                          </tr>
												                        </tbody></table>
												                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="homebody5">
												                          <tbody><tr> 
												                            <td>
												                            <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
												                                <tbody><tr> 
												                                  <td class="linehome"></td>
												                                </tr>
												                              </tbody></table>									



<table width="100%" cellspacing="0" cellpadding="0" border="0">
      
        
          

        <tbody>
<%i=0;@coursewares.each do |cw|;i+=1%>
<tr>
<td width="100%" bgcolor="#FFFFFF" height="23">
<table width="100%"><tbody><tr style=""><td>
Rank <%=i%>. &nbsp;&nbsp;
<%=link_to cw.course.name,cw.course%> | 
<a href="/coursewares/<%=cw.id%>">[<%=cw.klass_name%>] <%=cw.title%></a>
</td><td style="color: #000;text-align:right">
<span style="color:#999">销量: <%=link_to cw.purchases_count,"/coursewares/#{cw.id}?whosbought=1#whosbought",style:'color:#000'%> 评论: <%=link_to cw.replies_count,"/coursewares/#{cw.id}?#comments",style:'color:#000'%></span>
</td></tr>
</tbody></table>
</td>

</tr>
<tr>
<td background="/images/dian_3.jpg" height="1" colspan="2"></td>
</tr>
<%end%>
    </tbody></table>                    


																			</td></tr></tbody></table>

												                            </td>
												                          </tr>
												                        </tbody></table>
				
											</td>
			              </tr>  
			            </tbody></table>
			            </td>


			<!--    mid    -->



			<!-- end -->




			  </tr>
			</tbody></table>


	




	



</td></tr></tbody></table>


</td></tr></tbody></table></div>
