<style type="text/css">
.td2 {
		padding:5px;
    background-color: #F5F6F7;
    font-size:15px;
    line-height: 135%;
    color: #212063;
    font-size: 15px
    font-weight: normal;
    text-align: left;
}
input{
font-size: 15px;
}
</style>

<center style="margin-top:20px">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<table cellspacing="2" cellpadding="6" border="0"> 
 <tbody><tr> 
  <td nowrap="" class="td2">学　　号:</td> 
  <td class="td2"> 
    <%= f.text_field :number,:style=>"width:250px" %>
  </td> 
 </tr> 
 <tr> 
  <td class="td2">密　　码:</td> 
  <td class="td2"> 
    <%= f.password_field :password,:style=>'width:250px' %> 
  </td> 
 </tr> 

  <% if devise_mapping.rememberable? -%>
 <tr> 
  <td class=td2> </td> 
  <td class=td2> 
<%= f.check_box :remember_me %> <%= f.label :remember_me,'记住我的登录信息' %>
  </td> 
 </tr> 
  <% end -%>
 <tr> 
  <td> 

  </td> 
 </tr> 
 <tr> 
  <td align="center" colspan="2" style="padding-top:13px"> 
      <input type="submit" value="立即登录">&nbsp; 

      <input type="button" onclick="parent.document.title='CNU课件交流系统 - 忘记密码';window.location.href='/users/password/new'" value="忘记密码"> 

  </td> 
 </tr> 
 
</tbody></table> 
<% end %>

</center>

